body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-size: 20px;
}

li{
    list-style: none;
    margin-right: 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
}

a {
    text-decoration: none;
    color: #088395;
}

.titular {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

a{
    font-size: 14px;
    background: #088395;
    padding: 20px 30px 20px 30px;
    color: black;
}

header {
    background-color: #ffffff;
    height: 100vh;
    background-size: cover;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
    color: #088395;
}

img {
    width: 100px; /* Define el ancho de la imagen en 200 pixels */
    height: auto; /* Mantiene la proporción original de la imagen al ajustar el ancho */
}

h3 {
    text-align: center;
    font-size: 55px;
}

.contenedor-sobrenosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-parrafo-y-boton {
    width: 42%;
}

.contenedor-parrafo-y-boton p {
    font-size: 18px;
}

.contenedor-parrafo-y-boton a {
    margin-top: 20px;
    display: inline-block;
}

.contenedor-servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicios {
    width: 25%;
    padding: 50px 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.violeta {
    background: #B84DD5;
}

.azul {
    background: #5172FC;
}

.naranja {
    background: #FE9A00;
}

.rosa {
    background: #FF5757;
}

.servicios h4 {
    color: white;
    margin: 0;
}

.servicios img {
    float: right;
}

.servicios p {
    font-size: 18px;
    height: 200px;
}

span {
    font-size: 80px;color: blue;
}

.owl-nav {
    text-align: center;
}